h1 {
    margin-top: 5%;
    font-family: 'oswald';
    margin-bottom: 30px;
    font-size: 50px;
    color: #E97167;
}

h2 {
    font-size: 30px;
    margin-bottom: 22px;
    margin-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #E97167;
}
h3 {
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #E97167;
}

p {
    font-size: 17px;
    margin-bottom: 25px;
}

ul {
    font-size: 17px;
}

img[alt="beacon"] { 
    max-width:  800px; 
    display: block;
  }

img[alt="gebruiker1"] { 
    max-width: 400px; 
    display: block;
    margin-right: 30px;
    margin-bottom: 30px;
  }

img[alt="gebruiker2"] { 
    max-width: 400px; 
    display: block;
    margin-bottom: 30px;
  }

img[alt="finale"] { 
    max-width: 1000px; 
    display: block;
    margin-bottom: 30px;
  }

img[alt="mockupwatch1"] { 
    max-width: 300px; 
    margin-left: 90px;
    display: block;
    margin-bottom: 30px;
  }

  img[alt="mockupphone1"] { 
    max-width: 580px; 
    margin-left: px;
    display: block;
    margin-bottom: 30px;
  }


  img[alt="Simon"] { 
    max-width: 300px; 
    display: block;
    margin-top: 40px;
  }

  img[alt="Lore"] { 
    max-width: 300px; 
    margin-right: 100px;
    display: block;
    margin-top: 40px;
  }

  img[alt="idee"] { 
    max-width: 300px; 
    margin-right: 30px;
    display: block;
    margin-top: 30px;
    margin-bottom: 40px;
  }

  img[alt="wirephone"] { 
    max-width: 1000px; 
    display: block;

  }

  img[alt="websitewireframe"] { 
    max-width: 850px; 
    display: block;
    margin-bottom: 30px;
    margin-right: 25px;
    margin-left: 25px
  }

  img[alt="websitewireframe2"] { 
    max-width: 850px; 
    display: block;
    margin-bottom: 30px;
    margin-right: 25px;
    margin-left: 25px
  }


  img[alt="sitemap"] { 
    max-width: 950px; 
    display: block;
    margin-bottom: 30px;
    margin-right: 25px;
    margin-left: 25px
  }

  img[alt="mockupdesktop"] { 
    max-width: 2000px; 
    display: block;
    margin-bottom: 30px;
    margin-right: 25px;
    margin-left: 25px
  }

  img[alt="style"] { 
    max-width: 950px; 
    display: block;
    margin-bottom: 30px;
    margin-right: 25px;
  }

